html {
   /* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    background: #333; 
  }
   
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #888; 
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #555; 
  }
}

.main-section {
    position: relative;
    display: flex;
    width: 100%;
    height: 100vh;
    
    .left-sections{
        position: relative;
        width: 50%;
        height: 100vh;
        background: black;
        background-image: url(../../src/img/background.png);
        background-position: center;
        background-size: cover;
        display: flex;
        align-items: center;
        flex-direction: column;
        overflow-y: auto;

        
        
       .container {
           height: 100vh;
           display: flex;
           flex-direction: column;
           max-width: 380px;
           position: relative;
           
        .logo-container {
            max-width: 350px;
            height: 74px;
             margin: 0 auto;
            margin-top:30px;
            text-align: center;
 
            p{
             margin-top: 10px;
             font-family: 'Livvic';
             font-size: 14px;
             font-style: normal;
             font-weight: 500;
             line-height: 25px;
             letter-spacing: 0em;
             text-align: center;
             color: rgba(196, 192, 166, 1);
 
             
            }
 
             img {
                 width: 100%;
             }
             
         }
         .middle-container{
             max-width: 380px;
             margin-top: 5rem;
             display: flex;
             flex-direction: column;
             justify-content: center;

             .last-section {
                position: absolute;
                bottom:3%;
                left: 0;
                color: white;
                font-size: 1rem;
                 font-family: 'Livvic';
                 font-size: 14px;
                 font-style: italic;
                 font-weight: 500;
                 line-height: 32px;
                 letter-spacing: 0em;
                 text-align: left;
                 color: rgba(196, 192, 166, 1);
                 z-index: 1;
            }
            
 
             span, p {
                 color: rgba(196, 192, 166, 1);
             }
             span {
                 font-family: 'Livvic';
                 font-size: 20px;
                 font-style: normal;
                 font-weight: 700;
                 line-height: 20px;
                 letter-spacing: 0em;
                 text-align: left;
             }
             p{
                 font-family: 'Livvic';
                 font-size: 16px;
                 font-style: italic;
                 font-weight: 400;
                 
                 line-height: 15px;
                 letter-spacing: 0em;
                 text-align: left;
             }
 
             .form-container{
                 background: rgba(196, 192, 166, 1);
                 padding: 1rem 1rem 2.2rem 1rem;
                 border-radius: 15px;
                 position: relative;
                 margin-top: 2rem;
                 z-index: 2;
                 form {
 
                     h3 {
                        font-family: 'Livvic';
                        font-size: 18px;
                        font-style: normal;
                        font-weight: 500;
                        line-height: 30px;
                        letter-spacing: 0em;
                        text-align: left;
                        
                     }
 
                     p {
                         color: rgba(127, 124, 130, 1);
                        
                         a {
                            color: #333;
                        }
                     }
 
                     input {
                         background:transparent !important;
                         border: none;
                         border-bottom: 1px solid rgba(127, 124, 130, 1);
                         border-radius: 0 !important;
 
                         &:focus {
                             border: #333 !important;
                         }

                         
                     }

                    

                     input[type="checkbox"] {
                        appearance: none;
                        box-sizing: border-box; // 1. Add the correct box sizing in IE 10-
                        padding: 0; // 2. Remove the padding in IE 10-
                        background: transparent;
                        width:15px;
                        height: 15px;
                        border: 1px solid #333 !important;
                        margin-right: 0.5rem;

                        &:checked {
                            // border: 1px solid #333 !important;
                            background: rgba(0, 0, 0, 0.45) !important;
                        }
                     }
 
                     .submit-button{
                         width:100%;
                         position: absolute;
                         bottom: -15px;
                         
                         
 
                          button {
                              color: rgba(196, 192, 166, 1);
                              padding: 0.55rem;
                             width: 90%;
                             background: rgba(122, 122, 122, 1);
                             border: none;
                             border-radius: 30px;
                             transition: filter ease-in 0.2s;
                             font-size: 0.9rem;
                             &:hover {
                                 
                                 filter: brightness(0.9);
                             }
                          }
                     }
                 }

                

             
             }
         }
       }

       
    .video-link {
         text-decoration: none;
         color: #333;
        .video-container{
            position: absolute;
            bottom:0;
            right: 0;
            width:20%;
            height: 10%;
            padding: 0.75rem;
            border-radius: 20px 0 0 0;
            background: #c4c0a6;
            display: flex;
            align-items: center;
            justify-content: center;
            transition: 0.2s ease-in;
            text-align:center;
            &:hover {
                filter: brightness(0.6)
            }

            p { 
                text-align: center;
                font-family: "Livvic";
                font-size: 16px;
                font-style: italic;
                font-weight: 400;
                line-height: 15px;
                letter-spacing: 0em;
                text-align: center;
                margin: 0;
                margin-left: 0.55rem;
            }
        }
    }

    .book-container{
        position: absolute;
        bottom: 11%;
        right: 0;
        padding: 0.25rem;
        border-radius: 15px 0 0 15px;
        background: #c4c0a6;
        padding: 0.7rem;
        width: 20%;
        transition: 0.3s ease-in;
        &:hover {
            filter: brightness(0.6);
        }
        p {
            text-align: center;
            font-family: "Livvic";
            font-size: 16px;
            font-style: italic;
            font-weight: 400;
            line-height: 15px;
            letter-spacing: 0em;
            text-align: center;
            color: #333;
            margin: 0;
        }
    }
    
       
    }
    .mobile-plus-section{
        display:none;
    }
    .swiper-pagination {
        position: absolute !important;
        right: 10px !important;
        top: 45%;
        width: 25px;
        display: flex;
        flex-direction: column;
        height:100px;
        justify-content: space-between;
        .swiper-pagination-bullet {
            width: 20px;
            height: 20px;
            text-align: center;
            line-height: 20px;
            font-size: 12px;
            color: rgba(196, 192, 166, 1);
            background: transparent !important;
            opacity: 1;
            font-size: 2rem;
          }
    
          .swiper-pagination-bullet-active {
            color: rgba(196, 192, 166, 1);
            background: transparent !important;
            position:relative;
           
            &::before {
                display: block;
                position: absolute;
                left: -5vh;
                top: 1vh;
                content: '';
                border: solid 1px rgba(196, 192, 166, 1);
                width: 20px;
                
            }
          }
    }

    

    .right-sections {
        background-color:white;
        width:50%;
        height: 100%;

      
        p {
            position: absolute;
            bottom: 10px;
            left: 3%;
            font-family: Livvic;
            font-size: 14px;
            line-height: 22px;
            letter-spacing: 0em;
            text-align: right;
            color: #C4C0A6;
            background: #333;
            border-radius: 5px;
            padding: 0.5rem;
        }
        img {
            height: 100vh;
            object-fit: cover;
        }

    }
    
}

// ajustes responsivo
@import './_responsivo.scss';

//MOBILE
@import './mobile.scss';

@import '../BotaoWpp/BotaoWpp.scss';