
@media(max-width: 865px) {
    .main-section {
        height: 100%;
        flex-direction: column;
        .left-sections{
            width: 100%;
            height: 100%;

            .book-container{
                display: none;
            }

            .video-link{
                .video-container {
                    display: none;
                }
            }
            
            .container{
                height: 100%;
                .logo-container{
                    margin-top:2rem;
                }

                .middle-container {

                    .text-container {
                        margin-bottom: 1rem;
                        p {
                            text-align: center;
                            line-height:20px;
                            font-size: 16px;
                        }
                        span {
                            font-size: 20px;
                            line-height:15px;
                        }

                        

                        &:nth-child(4) {
                            margin-bottom: 0 !important;
                        }
                    }

                   

                    margin-top: 3.5rem;

                    
                    .form-container {
                        display: none;
                    }
                }

                
            }

            .last-section{
                display: none;
            }
            
        }
        .right-sections {
            width: 100%;

            p {
                font-size: 18px;
            }
            img {
                height: 100%;
                height: 350px;
            }
        }

        .mobile-plus-section {
            position: relative;
            display: block;
            background-image: url(../../src/img/background.png);
            background-position: center;
            background-size: cover;
            width: 100%;
            height:550px;

            .swiper-pagination {
                margin: 0 auto;
                top: 15px;
                width: 100%;
                display: flex !important;
                flex-direction: row;
                height:50px;
                justify-content: space-evenly;
                .swiper-pagination-bullet {
                    width: 20px;
                    height: 20px;
                    text-align: center;
                    line-height: 20px;
                    font-size: 12px;
                    color: rgba(196, 192, 166, 1);
                    background: transparent !important;
                    opacity: 1;
                    font-size: 2rem;
                  }
            
                  .swiper-pagination-bullet-active {
                    color: rgba(196, 192, 166, 1);
                    background: transparent !important;
                    position:relative;
                   
                    &::before {
                        display: block;
                        position: absolute;
                        height: 21px;
                        left: 9px;
                        top: 35px;
                        content: "";
                        border: solid 1px #c4c0a6;
                        width: 2px;
                        
                    }
                  }
            }
            .form-container{
                background: rgba(196, 192, 166, 1);
                padding: 1rem;
                margin: 0 auto;
                margin-top: 5rem;
                width: 90%;
                border-radius: 15px;
                position: relative;
                form {

                    h3 {
                       font-family: 'Livvic';
                       font-size: 18px;
                       font-style: normal;
                       font-weight: 500;
                       line-height: 30px;
                       letter-spacing: 0em;
                       
                       text-align:center;
                       
                    }

                    p {
                        color: rgba(127, 124, 130, 1);
                        // color: #7f7c82;
                        font-size: 13px;
                        text-align: center;
                        display: flex;
                        align-items: center;
                       
                        a {
                           color: #333;
                           margin-left: 0.25rem;
                       }
                    }

                    input {
                        background:transparent !important;
                        border: none;
                        border-bottom: 1px solid rgba(127, 124, 130, 1);
                        border-radius: 0 !important;

                        &:focus {
                            border: #333 !important;
                        }

                        
                    }

                   

                    input[type="checkbox"] {
                       appearance: none;
                       box-sizing: border-box; // 1. Add the correct box sizing in IE 10-
                       padding: 0; // 2. Remove the padding in IE 10-
                       background: transparent;
                       width:15px;
                       height: 15px;
                       border: 1px solid #333 !important;
                       margin-right: 0.5rem;

                       &:checked {
                           // border: 1px solid #333 !important;
                           background: rgba(0, 0, 0, 0.45) !important;
                       }
                    }

                    .submit-button{
                        width:100%;
                        position: absolute;
                        bottom: -20px;
                        
                        

                         button {
                             color: rgba(196, 192, 166, 1);
                             padding: 0.55rem;
                            width: 90%;
                            background: rgba(122, 122, 122, 1);
                            border: none;
                            border-radius: 30px;
                            transition: filter ease-in 0.2s;
                            font-size: 0.9rem;
                            &:hover {
                                
                                filter: brightness(0.9);
                            }
                         }
                    }

                    
                }

                .book-container{
                    position: absolute;
                    bottom: -70px;
                    left: 10%;
                    right: 10%;
                    padding: 0.25rem;
                    border-radius: 15px;
                    background: #c4c0a6;
                    padding: 0.7rem;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    p {
                        text-align: center;
                        font-family: "Livvic";
                        font-size: 16px;
                        font-style: italic;
                        font-weight: 400;
                        line-height: 15px;
                        letter-spacing: 0em;
                        text-align: center;
                        color: #333;
                        margin: 0;
                    }
                }

                .video-container {
                    position: absolute;
                    position: absolute;
                    bottom: -113px;
                    left: 10%;
                    right: 10%;
                    padding: 0.25rem;
                    border-radius: 15px;
                    background: #c4c0a6;
                    /* padding: 0.7rem; */
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    p{
                        margin: 0;
                        margin-left: .5rem;
                        color: #333;
                    }

                    i{
                        color: #333;
                    }
                }

                .last-section {
                   display: none;
        
               }
            }
            .last-section-mobile {
                text-align: center;
                margin: 8rem auto;
                width: 200px;
                font-weight: bold;
                color: #c4c0a6;
                font-size: 1rem;
                font-family: 'Livvic';
                font-style: italic;
     
            }
        }
        
    }
}


/**
* Mouse Scroll
**/

@-webkit-keyframes mouse-wheel{
    0% {
     opacity: 1;
     -webkit-transform: translateY(0);
     -ms-transform: translateY(0);
     transform: translateY(0);
   }
 
   100% {
     opacity: 0;
     -webkit-transform: translateY(6px);
     -ms-transform: translateY(6px);
     transform: translateY(6px);
   }
 }
 @-moz-keyframes mouse-wheel {
   0% { top: 1px; }
   25% { top: 2px; }
   50% { top: 3px;}
   75% { top: 2px;}
   100% { top: 1px;}
 }
 @-o-keyframes mouse-wheel {
 
    0% { top: 1px; }
   25% { top: 2px; }
   50% { top: 3px;}
   75% { top: 2px;}
   100% { top: 1px;}
 }
 @keyframes mouse-wheel {
 
    0% { top: 1px; }
   25% { top: 2px; }
   50% { top: 3px;}
   75% { top: 2px;}
   100% { top: 1px;}
 }
 
 @-webkit-keyframes mouse-scroll {
 
   0%   { opacity: 0;}
   50%  { opacity: .5;}
   100% { opacity: 1;}
 }
 @-moz-keyframes mouse-scroll {
 
   0%   { opacity: 0; }
   50%  { opacity: .5; }
   100% { opacity: 1; }
 }
 @-o-keyframes mouse-scroll {
 
   0%   { opacity: 0; }
   50%  { opacity: .5; }
   100% { opacity: 1; }
 }
 @keyframes mouse-scroll {
 
   0%   { opacity: 0; }
   50%  { opacity: .5; }
   100% { opacity: 1; }
 }

 /**
** Mouse effect
**/

.mouse_scroll {
	display: block;
	margin: 0 auto;
    width: 36px;
	height: 100px;
    margin-top: 55px;
    transition: opacity .3s ease-in-out;
    @media (min-width: 2000px){
        width: 52px;
    }
    @include mq("md", max){
        width: 29px;
    }
    @include mq("md", min){
        display: none;
    }
}


.m_scroll_arrows
{
  display: block;
  width: 5px;
  height: 5px;
  -ms-transform: rotate(45deg); /* IE 9 */
  -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
  transform: rotate(45deg);
   
  border-right: 2px solid white;
  border-bottom: 2px solid white;
  margin: 0 0 3px 4px;
  
  width: 12px;
  height: 12px;
}

.itens_mouse{
    transform: translateX(-3%);
}

.unu
{
  margin-top: 1px;
}

.unu, .doi, .trei
{
    -webkit-animation: mouse-scroll 1s infinite;
    -moz-animation: mouse-scroll 1s infinite;
    animation: mouse-scroll 1s infinite;
  
}

.unu
{
  -webkit-animation-delay: .1s;
  -moz-animation-delay: .1s;
  -webkit-animation-direction: alternate;
  
  animation-direction: alternate;
  animation-delay: alternate;
}

.doi
{
  -webkit-animation-delay: .2s;
  -moz-animation-delay: .2s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .2s;
  animation-direction: alternate;
  
  margin-top: -6px;
}

.trei
{
  -webkit-animation-delay: .3s;
  -moz-animation-delay: .3s;
  -webkit-animation-direction: alternate;
  
  animation-delay: .3s;
  animation-direction: alternate;
  
  
  margin-top: -6px;
}

.mouse {
    height: 30px;
    width: 18px;
    border-radius: 14px;
    transform: none;
    background-color: transparent;
    border: 2px solid white;
    top: 170px;
}

.wheel {
  height: 5px;
  width: 2px;
  display: block;
  margin: 5px auto;
  background: white;
  position: relative;
  
  height: 4px;
  width: 4px;
  border: 2px solid #fff;
  -webkit-border-radius: 8px;
          border-radius: 8px;
}

.wheel {
  -webkit-animation: mouse-wheel 0.6s linear infinite;
  -moz-animation: mouse-wheel 0.6s linear infinite;
  animation: mouse-wheel 0.6s linear infinite;
}

iframe{
    width: 100%;
}