@media(max-width: 1440px) {
    // * {
    //     font-size: 0.75rem;
    // }

    .main-section {
        .left-sections {
            overflow-y: hidden;
            .container {
                .logo-container {
                    max-width: 350px;
                    height: 74px;
                    margin: 0 auto;
                    margin-top: 10px;
                    text-align: center;
                    p {
                        font-size: 16px !important;
                        margin: 0.25rem;

                    }

                    
                }
                .middle-container{
                    margin-top: 0.25rem;
                    
                    p {
                        font-size: 14px;
                        margin: 0;
                        margin-bottom: 0.5rem;
                        span {
                            font-size: 14px;
                        }
                    }

                    .form-container {
                        margin-top: 0.25rem;
                    }
                }
            }
        }
    }
}

@media(max-height:800px) {
    .main-section {
        .left-sections {
            .container {
                .middle-container {
                    .last-section{
                        max-width: 130px;
                        left: -37%;
                        bottom: 2%;
                        line-height: 16px;
                    }
                }
            }
        }
    }
}

@media(max-height:599px) {
    .main-section {
        .left-sections {
            overflow-y: auto;
            
        }
    }
}


