cookie{
    position: fixed;
    bottom: 3%;
    left: 2%;
    width: 30%;
    background: #fff;
    color: #333;
    opacity: 0;
    z-index: 99999;
    transition: opacity .5s ease-in-out;
    @media screen and (max-width: 550px){
        left: 0%;
        width: 100%;
    }
    .cookie{
        &-content{
            padding: 3%;
            &-text{
                font-size: .9rem;
                a{
                    color: #333;
                    text-decoration: none;
                    &:first-of-type{
                        text-decoration: underline !important;
                    }
                }
            }
            .btn-confirm{
                text-align: end;
                button{
                    font-size: .9rem;
                    padding: 2% 3%;
                    border: none;
                    border-radius: .5rem;
                    outline-style: none;
                    background: #c4c0a6;
                }
            }
        }
    }
}

