/**
*   REGISTER FONTS
**/
@import url('https://fonts.googleapis.com/css2?family=Livvic:ital,wght@0,400;0,500;0,600;1,400;1,500;1,600&family=Poppins:ital,wght@0,300;0,400;1,500&display=swap');

@font-face{
    font-family: 'Livvic', sans-serif;
    font-weight: 100;
    font-style: normal;
    src: url(./../../src/fonts/) format('OpenType');
}


/** 
* FONTS GLOBALS
**/

$size1: 10px;
$size2: 12px;
$size3: 16px;
$size4: 20px;


$font-default: 'Livvic';


//CONFIG

*{
    font-family: $font-default;
}