#barrainfo {

    .shake2 {
        position: fixed;
        bottom: 5%;
        right: 2%;
        z-index: 9;
        cursor: pointer;

        animation: shake 0.82s cubic-bezier(0.36, 0.07, 0.19, 0.97) both
            infinite;
        transform: translate3d(0, 0, 0);
        backface-visibility: hidden;
        perspective: 1000px;

        img {
            width: 55px;
            height: 55px;
        }
    }

    @keyframes shake {
        10%,
        90% {
            transform: translate3d(-1px, 0, 0);
        }

        20%,
        80% {
            transform: translate3d(2px, 0, 0);
        }

        30%,
        50%,
        70% {
            transform: translate3d(-4px, 0, 0);
        }

        40%,
        60% {
            transform: translate3d(4px, 0, 0);
        }
    }
}

.modal-content {
    background-color: #fafafa;

    .modal-header {
        h5 {
            color: #000000;
        }

        button {
            width: fit-content;
        }
    }

    .modal-body {
        .form-container {

            .form-wrapper {
                label {
                    font-size: $size2;
                    font-weight: 700;

                    &.mt {
                        margin-top: 20px;
                    }
                }

                input {
                    font-size: $size4;
                    border: none;
                    border-bottom: 1px solid black;
                    border-radius: unset;
                    background: transparent;
                }

                label,
                input:not(.form-check-input) {
                    display: block;
                    width: 100%;
                }

                .iti {
                    width: 100%;
                }

                .form-check {
                    label {
                        line-height: 1.7rem;
                    }
                }

                button {
                    margin-top: 30px;
                }

                #form-botao-whatsapp {
                    text-align: center;
                    border: none;
                    background: #c4c0a6;
                    margin: 0 auto;
                    border-radius: 5px;
                    padding: 0.75rem;
                    margin: 0auto;
                    width: 100%;
                    margin: 1rem auto !important;
                }
            }
        }
    }
}
